# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAB=y
CONFIG_BOARD_TYK380_V2=y

# enable MPU
CONFIG_ARM_MPU=n

# enable GPIO
CONFIG_GPIO=y
CONFIG_PINCTRL=y

# we use that for the keyboard
CONFIG_GPIO_AS_PINRESET=n
CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_TEMP_NRF5=n
CONFIG_ZMK_BATTERY_REPORTING=n
CONFIG_ZMK_EXT_POWER=n

CONFIG_BT_MAX_CONN=1

CONFIG_ZMK_USB=n
CONFIG_ZMK_BLE=y
